body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(66, 66, 66);
}

.title, .winner, .log, .playerScore, .computerScore, .replay {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.winner, .log, .playerScore, .computerScore, .replay {
  color: rgb(173, 152, 146);
}

.log, .playerScore, .computerScore {
  background-color: rgb(61, 53, 53);
  border: 5px solid rgb(173, 152, 146);
  border-radius: 20px;
}

.title {
  font-size: 50px;
}

#rock {
  color: rgb(255, 107, 102);
}

#paper {
  color: rgb(63, 223, 207);
}

#scissors {
  color: rgb(238, 205, 18);
}

.winner {
  font-size: 30px;
}

.tally {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.playerScore, .computerScore {
  font-size: 50px;
  padding: 20px 60px;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.choice {
  padding: 20px 15px 10px; 
  border: 7px solid rgb(173, 152, 146); 
  border-radius: 30px;
}

.choice:hover {
  background-color: rgb(211, 211, 211);
  border-color: rgb(124, 109, 105);
}

.log {
  padding: 20px 40px;
  margin-top: 20px;
  font-size: 20px;
}

.replay {
  background-color: rgb(61, 53, 53);
  border: 3px solid rgb(173, 152, 146);
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 20px;
}

.replay:hover {
  border-color: rgb(124, 109, 105);
  background-color: rgb(29, 25, 25);
}

img {
  width: 60%;
  height: auto;
}